/* ===========================
   CoinEmpire Style
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
    overflow-x:hidden;
}

.app{
    max-width:500px;
    margin:auto;
    min-height:100vh;
    padding:20px;
    padding-bottom:100px;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.profile{
    display:flex;
    align-items:center;
}

.avatar{
    width:60px;
    height:60px;
    border-radius:50%;
    border:3px solid gold;
    margin-right:15px;
}

.profile-info h2{
    font-size:22px;
}

.profile-info p{
    color:#94a3b8;
    font-size:14px;
}

.top-buttons button{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:#1e293b;
    color:white;
    font-size:20px;
}

.balance{
    text-align:center;
}

.balance h1{
    font-size:50px;
    color:#FFD700;
}

.balance p{
    color:#94a3b8;
    margin-top:5px;
}

.energy{
    margin-top:25px;
}

.energy-bar{
    width:100%;
    height:14px;
    background:#334155;
    border-radius:20px;
    overflow:hidden;
}

.energy-fill{
    width:100%;
    height:100%;
    background:linear-gradient(90deg,#00ff80,#00d4ff);
}

.energy p{
    text-align:center;
    margin-top:10px;
    font-size:16px;
}

.coin-section{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:35px;
    position:relative;
}

.coin-shadow{
    width:230px;
    height:230px;
    background:#FFD70033;
    border-radius:50%;
    filter:blur(40px);
    position:absolute;
}

.coin{
    width:220px;
    z-index:2;
    transition:.1s;
    cursor:pointer;
    user-select:none;
}

.coin:active{
    transform:scale(.92);
}

.stats{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin-top:35px;
}

.card{
    background:#1e293b;
    border-radius:15px;
    padding:20px;
    text-align:center;
}

.card span{
    color:#94a3b8;
}

.card h3{
    margin-top:10px;
    color:#FFD700;
    font-size:26px;
}

.shop{
    margin-top:40px;
}

.shop h2{
    margin-bottom:15px;
}

.upgrade{
    background:#1e293b;
    border-radius:15px;
    padding:18px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.upgrade h3{
    margin-bottom:5px;
}

.upgrade p{
    color:#94a3b8;
}

.upgrade button{
    background:#FFD700;
    color:#000;
    border:none;
    border-radius:12px;
    padding:12px 22px;
    font-weight:bold;
    cursor:pointer;
}
