*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0d1117;
    color:white;
    display:flex;
    flex-direction:column;
    height:100vh;
}

.top{
    padding:20px;
    text-align:center;
}

.energy{
    margin-top:10px;
    color:#ffd54f;
}

.game{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.coin{
    font-size:120px;
    cursor:pointer;
    transition:.1s;
    user-select:none;
}

.coin:active{
    transform:scale(.9);
}

.bottom{
    display:flex;
    justify-content:space-around;
    padding:15px;
    background:#161b22;
}

button{
    background:none;
    border:none;
    color:white;
    font-size:28px;
}
.plus{
    position:absolute;
    color:#ffd700;
    font-size:30px;
    font-weight:bold;
    pointer-events:none;
    animation:fly 1s forwards;
}

@keyframes fly{

0%{
opacity:1;
transform:translateY(0);
}

100%{
opacity:0;
transform:translateY(-80px);
}

}

.coin{
    font-size:120px;
    cursor:pointer;
    transition:.1s;
    user-select:none;
    animation:float 2s infinite ease-in-out;
}

@keyframes float{

0%{transform:translateY(0);}
50%{transform:translateY(-10px);}
100%{transform:translateY(0);}

}
.shop button{
    display:block;
    margin:15px auto;
}
